* {
    box-sizing: border-box;
}

/* clicked color: lightgreen 
    mobile chart colors:
        rgba(116, 119, 191, 1)
        rgba(129, 201, 143, 1)
        rgba(116, 177, 191, 1) */

.grid-container {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    color: gray;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "main-header"
        "main-nav"
        "main-container";
}

.main-header {
    grid-area: main-header;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #7477bf;
}

h1 {
    font-size: 1.4em;
    margin: 20px 0 20px 10px;
}

h1 span {
    font-weight: 100;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile div {
    width: 1px;
    height: 40px;
    background-color: #4d4c72;
    margin: auto 5px;
}

#profile-image {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: auto;
}

#icon-bell {
    width: 21px;
}

.profile a {
    margin: auto;
}

.profile h3 {
    font-size: .9em;
    margin: auto 5px auto 5px;
}

.main-nav {
    grid-area: main-nav;
    background-color: #4d4c72;
    display: flex;
    justify-content: center;
}

.main-nav a {
    margin: 5px 10px;
    color: gray;
}

.traffic-header {
    display: flex;
    justify-content: space-between;
}

.main-nav img {
    width: 33px;
}

.main-container {
    display: grid;
    grid-area: main-container;
}

.dashboard-header {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.header-title {
    float: left;
    width: fit-content;
    margin: 18px;
}

.search-div {
    float: left;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

#alert-bar {
    width: 100%;
}

@media (min-width: 768px) {
    .grid-container {
        max-width: 1200px;
        margin: auto;
        grid-template-columns: 90px 1fr;
        grid-template-areas:
            "main-header main-header"
            "main-nav main-container";
    }
    .main-container {
        grid-template-columns: 1fr 1fr;
    }
    .dashboard-header, .traffic, .social {
        grid-column: 1 / span 2;
    }
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }
    .mobile, .recent, .settings {
        grid-column: 2 / span 1;
    }
    .main-nav {
        flex-direction: column;
        justify-content: flex-start;
    }
    .main-nav a {
        margin: 25px auto;
    }
    h1 {
        margin: 20px 0 20px 20px;
    }
    .profile h3 {
        margin: auto 20px auto 10px;
    }
    .profile div {
        width: 1px;
        height: 40px;
        background-color: #4d4c72;
        margin: auto 15px;
    }

}

