* {
    box-sizing: border-box;
}

.grid-container {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    color: gray;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "main-header"
        "main-nav"
        "main-container";
}

.main-header, .profile, .main-nav, .traffic-header, .traffic-nav, .dashboard-header, .search-div, .social, .social-container {
    display: flex;
}

.main-header {
    grid-area: main-header;
    color: white;
    justify-content: space-between;
    background-color: #7477bf;
}

h1 {
    font-size: 1.4em;
    margin: 20px 0 20px 10px;
}

h1 span {
    font-weight: 100;
}

.profile {
    justify-content: space-between;
}

.profile div {
    width: 1px;
    height: 40px;
    background-color: #4d4c72;
    margin: auto 5px;
}

#profile-image {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: auto;
}

#icon-bell {
    width: 21px;
}

.profile a {
    margin: auto;
}

.profile h3 {
    font-size: .9em;
    margin: auto 5px;
}

.main-nav {
    grid-area: main-nav;
    background-color: #4d4c72;
    justify-content: center;
    height: 60px;
}

.main-nav a {
    margin: 10px 10px;
    color: gray;
}

.traffic-header {
    justify-content: space-between;
}

.traffic-nav {
    margin: auto 20px;
}

.traffic-nav li {
    margin: auto 8px;
    font-weight: bold;
    padding: 3px 10px;
}

.clicked {
    border-radius: 15px;
    background-color: lightgreen;
    color: white;
}

.main-nav img {
    width: 33px;
}

.main-container {
    display: grid;
    grid-area: main-container;
}

.dashboard-header {
    flex-wrap: wrap;
}

.header-title {
    margin: 18px;
}

.search-div {
    flex-grow: 1;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.search {
    margin: auto 18px auto auto;
    padding-left: 10px;
    padding-right: 10px; 
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

#alert-bar {
    width: 100%;
    margin: 18px;
    background-color: #7477bf;
    color: white;
    border-radius: 5px;
}

#alert-bar p {
    margin: 10px;
}

.traffic-widget-container, .daily-widget-container, .mobile-widget-container {
    position: relative;
    margin: auto;
    height: 40vh;
    width: 80vw;
}

section {
    padding: 30px;
}

.social {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.social-container {
    width: 70%;
    height: 130px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid rgba(128, 128, 128, .5);
    border-radius: 7px;
}
.social-text {
    margin: 25px 0 25px 10px;
}

.social-text p {
    margin: 0;
}

.social-text p:first-child {
    color: #7477bf;
    font-weight: bold;
    font-size: 20px;
}

.social-text p:last-child {
    color: rgba(0, 0, 0, .6);
    font-size: 40px;
}

.social-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #7477bf;
    margin: 25px 10px 25px 20px
}

.social-image svg {
    width: 40px;
    height: 40px;
}

#twitter-icon {
    margin-top: 23px;
    margin-left: 20px;
}

#facebook-icon {
    margin-top: 18px;
    margin-left: 18px;
}

#google-icon {
    margin: 20px;
}

.social h3, .daily h3, .mobile h3, .members h3, .recent h3, .message h3, .settings h3 {
    width: 100%;
    text-align: center;
}

.daily, .mobile, .social, .members, .recent, .message, .settings {
    border-top: 1px solid rgba(128, 128, 128, .5);
}

.members-container img, .recent-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.members-container, .recent-container {
    border-bottom: 1px solid rgba(211, 211, 211, .7);
    margin-bottom: 20px;
    height: 150px;
}

.members-container p, .recent-container p {
    margin: 5px auto 0 auto;
}

.members-container a {
    color: #7477bf;
    text-decoration: none;
}

@media (min-width: 768px) {
    .grid-container {
        margin: auto;
        grid-template-columns: 90px 1fr;
        grid-template-areas:
            "main-header main-header"
            "main-nav main-container";
    }
    .main-container {
        grid-template-columns: 1fr 1fr;
    }
    .dashboard-header, .traffic, .social {
        grid-column: 1 / span 2;
    }
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }
    .mobile, .recent, .settings {
        grid-column: 2 / span 1;
    }
    .main-nav {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }
    .main-nav a {
        margin: 25px auto;
    }
    h1 {
        margin: 20px 0 20px 20px;
    }
    .profile h3 {
        margin: auto 20px auto 10px;
    }
    .profile div {
        margin: auto 15px;
    }
    .social-container {
        width: 50%;
        margin: auto;
        margin-bottom: 20px;
    }
    .daily-widget-container, .mobile-widget-container {
        width: 35vw;
    }
    .daily h3, .mobile h3, .members h3, .recent h3, .message h3, .settings h3 {
        text-align: left;
    }
    .daily, .members {
        border: 1px solid rgba(128, 128, 128, .5);
        border-left: none;
    }
    
    .mobile, .recent {
        border-top: 1px solid rgba(128, 128, 128, .5);
        border-bottom: 1px solid rgba(128, 128, 128, .5);
    }
    .social {
        border: none;
    }
    .message {
        border-right: 1px solid rgba(128, 128, 128, .5);
    }
    .settings, .message{
        border-top: none;
    }
}

@media (min-width: 1024px) {
    .social {
        flex-direction: row;
        justify-content: space-between;
    }
    .social-container {
        width: 28%;
        margin: 0;    
    }
    .social h3 {
        text-align: left;
    }
    .members-container, .recent-container {
        display: flex;
        height: auto;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .members-container p, .members-container a {
        margin: 0 auto 0 10px;
    }
    .members-container p:last-child {
        margin: 10px 10px 22px auto;
    }
}

