// Recent Section Styles

.recent {
    border-top: 1px solid rgba(128, 128, 128, .5);
    @include tablet-mq {
        grid-column: 2 / span 1;
        border-top: 1px solid rgba(128, 128, 128, .5);
        border-bottom: 1px solid rgba(128, 128, 128, .5);
    }
}

.recent h3 {
    width: 100%;
    text-align: center;
    @include tablet-mq {
        text-align: left;
    }
}

.recent-container {
    border-bottom: 1px solid rgba(211, 211, 211, .7);
    margin-bottom: 20px;
    height: 150px;
    @include desktop-mq {
        .recent-container {
            display: flex;
            height: auto;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
    }
}

.recent-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.recent-container p {
    margin: 5px auto 0 auto;
}

