// Traffic Chart Styles

.traffic {
    @include tablet-mq {
        grid-column: 1 / span 2;
    }
}

.traffic-header, .traffic-nav {
    display: flex;
}

.traffic-header {
    flex-wrap: wrap;
    @include tablet-mq {
        justify-content: space-between;
    }
}

.traffic-header h3 {
    width: 100%;
    text-align: center;
    @include tablet-mq {
        width: auto;
    }
}

.traffic-nav {
    margin-bottom: 10px;
    width: 100%;
    @include tablet-mq {
        width: auto;
        margin: auto 20px;
    }
}

.traffic-nav li {
    font-size: .8em;
    margin: 0 auto;
    font-weight: bold;
    padding: 3px 10px;
    cursor: pointer;
    width: 22%;
    text-align: center;
    @include tablet-mq {
        margin: auto 8px;
        font-size: 1em;
    }
}

.clicked {
    border-radius: 15px;
    background-color: lightgreen;
    color: $second-font-color;
}

.traffic-widget-container {
    position: relative;
    margin: auto;
    height: 40vh;
    width: 80vw;
}
